// Global Foundation Settings
@import settings

// Comment out this import if you are customizing you imports below
// @import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

@import foundation/foundation-global
@import foundation/components/global
@import foundation/components/grid
@import foundation/components/visibility
// @import "foundation/components/block-grid";
@import foundation/components/type
// @import "foundation/components/buttons";
// @import "foundation/components/forms";
// @import "foundation/components/custom-forms";
// @import "foundation/components/button-groups";
// @import "foundation/components/dropdown-buttons";
// @import "foundation/components/split-buttons";
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
@import foundation/components/inline-lists
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

// compass 
@import compass/typography/links/unstyled-link
@import compass/css3/transform
@import compass/css3/text-shadow
@import compass/typography/links/hover-link

@import font-awesome
@import syntax-highlight

=bottom-seperator
  border-bottom: 1px solid rgb(102, 102, 102)  
    
=column-block($child: '*', $columns:12, $float:left)
  +grid-row
  &>#{$child}
    +grid-column($columns:$columns, $float:$float)

=small
  font-size: 90%
  color: $small-font-color
      
ol, ul
  margin-bottom: 1em
  margin-left: 2em

ul
  list-style-type: square
    
article
  /* a
  /*   +hover-link
  
  padding-top: 1em
  +bottom-seperator
  h1
    font-size: $h2-font-size
  h2
    font-size: $h3-font-size
      
  &>footer
    color: rgb(183,182,182)    
    +column-block(p, 6)
    +column-block(ul, 6)
    +small
    ul
      +inline-list
      
  &>header
    +column-block

  &>div
    +column-block
  
      
body
  /* background: image-url("bg.png") repeat scroll 0px 0px rgb(251, 251, 246)
  &>footer
    +small
    +column-block(p)
    color: rgb(183,182,182)      
    padding-top: 2em

  &>section 
    +column-block(article)

  &>header
    
    +bottom-seperator
    padding-top: 2em      
    /* +rotate(1deg)        

    +column-block(hgroup)
    h1
      color: $small-font-color
      +text-shadow
      font-size: 1.5em
    h2
      color: $small-font-color
      font-weight: 100
      font-size: 1em
        
a
  +unstyled-link
