{% extends "base.html" %}

{% block title %}{{ SITENAME }} | {{ article.title }} {% endblock %}

{% block content %}
<article>
  {% include 'article_header.html' %}
  <div>
    <section>
      {{ article.content }}
    </section>
  </div>
  {% include 'article_footer.html' %}
  {% include 'gitalk_comment.html' %}
</article>
{% endblock content %}
