{% if DISQUS_SITENAME %}
<section id="disqus_thread"></section>
<script>
 var disqus_shortname = '{{DISQUS_SITENAME}}';
 var disqus_identifier = '{{article.slug}}';
 (function() {
     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
     dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
 })();
</script>
{% endif %}
