<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
<div id="gitalk-container"></div>
<script type="text/javascript">
 var gitalk = new Gitalk({
     clientID: "2f60008869581fd61d19",
     clientSecret: "6b303dcf58c04cd35782bae82540921663cbfda8",
     repo: "zhuoqiang.github.com",
     owner: "zhuoqiang",
     admin: ["zhuoqiang"],
     id: "{{article.slug}}",
     title: "{{article.title}}",
     perPage: 30,
     distractionFreeMode: true,
     pagerDirection: "last",
 });
 gitalk.render('gitalk-container');
</script>
